@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&family=Roboto:ital,wght@0,400;0,700;0,900;1,100;1,300&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

.container {
    padding: 20px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 400px;
    border: #000 2px solid;
    background-color: #3C3E40;
    border-radius: 8px;
}

#display {
    font-family: Quantico;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* padding-right: 20px; */
    height: 80px;
    width: 100%;
    background-color: #949F95;
    color: #000;
    font-size: 36px;
}

#display p {
    padding-right: 20px;
}

.buttons {
    display: flex;
    gap: 25px;
    margin-top: 20px;
}

.operators {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.operators div {
    flex: auto;
    border: #000 2px solid;
    height: 100px;
    width: 100px;
    justify-content: space-between;
}

.numbers {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: space-between;
}

.number,
.operators button,
#equals {
    border-radius: 4px;
    display: flex;
    flex: 1 0 1;
    align-items: center;
    justify-content: center;
    border: #979797 2px solid;
    height: 80px;
    width: 80px;
    font-size: 44px;
    color: #fff;;
    background-color: #393939;
}

/* .orange {
    background-color: orange;
} */